/*  *  *  *  *  *  *  *  *  *  *  *

	footer

 *  *  *  *  *  *  *  *  *  *  *  */

#footer 
{   border-top: 1px dashed #BEB761;
	border-bottom: 1px solid #FCFCD9;
	background-color: #FCFCD9;
	text-align: center;
	padding: 0.2em;
	font-size: 0.8em;
	line-height: 2em;
	white-space: nowrap;
}