<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="{{root}}/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{{root}}/css/design.css" rel="stylesheet" type="text/css" />
<link href="{{root}}/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO ${year} - Country Results</title>
</head>
<body>
${header_side}
<div id="main">
  <h2>
  <a href="../${previous_year}/country${html_ext}" class="pointer" style="${previous_year_style}">&#9668;</a>
  <a href="${index}">${number}<sup>${ordinal}</sup> IPHO ${year}</a>
  <a href="../${next_year}/country${html_ext}" class="pointer" style="${next_year_style}">&#9658;</a>
  </h2>
  <h3>
  <a class="highlight" href="country${html_ext}">Country results</a> &bull;
  <a class="hideprn" href="individual${html_ext}">Individual results</a>
  </h3>
  <table>
  <thead>
  <tr>
  <th rowspan="2">Country</th>
  <th rowspan="2">Rank</th>
  <th colspan="4">Awards</th>
  </tr>
  <tr>
    <th title="Gold medal">G</th>
    <th title="Silver medal">S</th>
    <th title="Bronze medal">B</th>
    <th title="Honourable mention">HM</th>
  </tr>
  </thead>
  <tbody>
  ${table}
  </tbody>
  </table>
  <div>
    Results may be incomplete or incorrect.
    Please send the relevant information to the webmaster:
    <a href="mailto:${webmaster}">${webmaster}</a>.
  </div>
</div>
${footer}
</body>
</html>
