<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO __YEAR__ - Country Results</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>
	<a href="../__PREVIOUS_YEAR__/country__HTML_EXT__" class="pointer" style="__PREVIOUS_YEAR_STYLE__">&#9668;</a>
	<a href="__INDEX__">__NUMBER__<sup>__ORDINAL__</sup> IPHO __YEAR__</a> 
	<a href="../__NEXT_YEAR__/country__HTML_EXT__" class="pointer" style="__NEXT_YEAR_STYLE__">&#9658;</a>
	</h2>
	<h3>
	<a class="highlight" href="country__HTML_EXT__">Country results</a> &bull;
	<a class="hideprn" href="individual__HTML_EXT__">Individual results</a>
	</h3>
	<table>
	<thead>
	<tr>
	<th rowspan="2">Country</th>
	<th rowspan="2">Rank</th>
	<th colspan="4">Awards</th>
	</tr>
	<tr>
        <th title="Gold medal">G</th>
        <th title="Silver medal">S</th>
        <th title="Bronze medal">B</th>
        <th title="Honourable mention">HM</th>
    </tr>
	</thead>
    <tbody>
	__TABLE__
	</tbody>
	</table>
    <div>
    __NOTE__
    </div>
    <br>
	<div>
		Results may be incomplete or incorrect. 
		Please send the relevant information to the webmaster: 
		<a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.
	</div>
    <br>
</div>
__FOOTER__
</body>
</html>
