<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__BASE__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__BASE__/css/design.css" rel="stylesheet" type="text/css" />
<title>__NUMBER____ORDINAL__ International Physics Olympiad</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>
    __PREVIOUS_YEAR__
	<a href="__INDEX__" class="highlight">__NUMBER__<sup>__ORDINAL__</sup> IPHO __YEAR__</a> 
	__NEXT_YEAR__
	</h2>
	<h3 class="hideprn">
	<a href="country__HTML_EXT__">Country results</a> &bull;
	<a href="individual__HTML_EXT__">Individual results</a>
	</h3>
	<dl class="normal">
        <dt>General information</dt>
        <dd>__CITY__<a href="__BASE__/countries/__CODE__/__INDEX__">__COUNTRY__</a> 
        __HOMEPAGE__
        __DATE__ __YEAR__</dd>
        __P_COUNTRY__
        __P_STUDENT__
        __AWARDS__
	</dl>
</div>
__FOOTER__
</body>
</html>