<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="${root}/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="${root}/css/design.css" rel="stylesheet" type="text/css" />
<link href="${root}/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>${number}${ordinal} International Physics Olympiad</title>
</head>
<body>
${header_side}
<div id="main">
  <h2>
  <a href="${root}/timeline/${previous_year}/${index}" class="pointer" style="${previous_year_style}">&#9668;</a>
  <a href="${index}" class="highlight">${number}<sup>${ordinal}</sup> IPHO ${year}</a>
  <a href="${root}/timeline/${next_year}/${index}" class="pointer" style="${next_year_style}">&#9658;</a>
  </h2>
  <h3 class="hideprn">
  <a href="country${html_ext}">Country results</a> &bull;
  <a href="individual${html_ext}">Individual results</a>
  </h3>
  <dl class="normal">
    <dt>General information</dt>
    <dd>${city}
    <a href="${root}/countries/${code}/${index}">${country}</a>
    <span style="${code2_style}">& <a href="${root}/countries/${code2}/${index}">${country2}</a></span>
    <span style="${homepage_style}">(<a href="${homepage}" target="_blank">Home Page IPhO ${year}</a>),</span>
    ${date} ${year}</dd>
    <dd style="${p_country_style}">Number of participating countries: ${p_country}</dd>
    <dd style="${p_participant_style}">Number of contestants: ${p_participant}</dd>
    <dd style="${minutes_style}"><a href="${root}/minutes/${year}.pdf" target="_blank" rel="nofollow">Minutes of IPhO ${year}</a></dd>
    <div style="${awards_style}">
      <dt>Awards</dt>
        <dd>Gold medals: ${gold}<br>
        Silver medals: ${silver}<br>
        Bronze medals: ${bronze}<br>
        Honourable mentions: ${honourable}</dd>
    </div>
  </dl>
</div>
${footer}
</body>
</html>
