<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="{{root}}/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{{root}}/css/design.css" rel="stylesheet" type="text/css" />
<link href="{{root}}/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO ${year} - Individual Results</title>
</head>
<body>
${header_side}
<div id="main">
  <h2>
  <a href="../${previous_year}/individual${html_ext}" class="pointer" style="${previous_year_style}">&#9668;</a>
  <a href="${index}">${number}<sup>${ordinal}</sup> IPHO ${year}</a>
  <a href="../${next_year}/individual${html_ext}" class="pointer" style="${next_year_style}">&#9658;</a>
  </h2>
  <h3>
  <a class="hideprn" href="country${html_ext}">Country results</a> &bull;
  <a class="highlight" href="individual${html_ext}">Individual results</a>
  </h3>
  <table>
  <thead>
  <tr>
  <th>Contestant</th>
  <th>Country</th>
  <th>Rank</th>
  <th>Award</th>
  <th style="${points_style}"><a href="#" onclick="sort_by(this); return false;">Theoretical</a></th>
  <th style="${points_style}"><a href="#" onclick="sort_by(this); return false;">Experimental</a></th>
  <th style="${points_style}"><a href="#" onclick="sort_by(this); return false;">Total</a></th>
  </tr>
  </thead>
  <tbody id="table_body">
    ${table}
  </tbody>
  </table>
  <div>
    Results may be incomplete or incorrect.
    Please send the relevant information to the webmaster:
    <a href="mailto:${webmaster}">${webmaster}</a>.
    <br>
    If you are a participant you can send a personal page URL to be attached
    to your name.
  </div>
</div>
${footer}
<script>
function sort_by(target) {
  var th = target.parentElement;
  index = Array.prototype.indexOf.call(th.parentElement.children, th);

  var table = document.getElementById("table_body");
  Array.from(table.children)
    .sort(function (row1, row2) {
      var score1 = parseFloat(row1.children[index].innerHTML);
      var score2 = parseFloat(row2.children[index].innerHTML);
      var rank1 = parseInt(row1.children[3].innerHTML);
      var rank2 = parseInt(row2.children[3].innerHTML);
      return score2 - score1 || rank1 - rank2;
    })
    .forEach(function (row) {
      table.appendChild(row);
    });
}
</script>
</body>
</html>
