<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>International Physics Olympiads</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <br><br><br>
    <div>
		The page you've requested cannot be found.
		If you think this is an error, please contact the webmaster:
		<a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.
	</div>
</div>
__FOOTER__
</body>
</html>
