<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="{{root}}/img/fav-logo.ico" rel="icon" />
<link href="{{root}}/css/design.css" rel="stylesheet" />
<link href="{{root}}/css/print.css" rel="stylesheet" media="print" />
<title>International Physics Olympiads</title>
</head>
<body>
${header_side}
<div id="main">
  <br><br><br>
  <div>
    The page you've requested cannot be found.
    If you think this is an error, please contact the webmaster:
    <a href="mailto:${webmaster}">${webmaster}</a>.
  </div>
</div>
${footer}
</body>
</html>
