<div id="header">
	<div id="h1">
		<h1><a href="__BASE__/__INDEX__">International Physics Olympiad</a></h1>
	</div>
	<div id="sub">   
		<span class="previous"><a href="http://www.ipho2015.in/" target="_blank">IPhO 2015</a></span>
		<span class="img"><a href="__BASE__/__INDEX__"><img src="__BASE__/img/logo.png" alt="IPhO" width="30" height="22"/></a></span>
		<span class="next"><a href="http://www.ipho2016.org/" target="_blank">IPhO 2016</a></span>
	</div>
</div>
<div id="sidebar">
	<ul>
	<li><a href="__BASE__/timeline/__INDEX__">Timeline</a></li>
	<li><a href="__BASE__/countries/__INDEX__">Countries</a></li>
	<li><a href="__BASE__/search/__INDEX__">Search</a></li>
	<li><a target="_blank" href="http://ipho.org/problems-and-solutions_5.html">Problems</a></li>
	<li><a target="_blank" href="https://en.wikipedia.org/wiki/International_Physics_Olympiad">About IPhO</a></li>
	<li><a target="_blank" href="http://ipho.org/links.html">Links and Resources</a></li>
	</ul>
</div>
