<div id="header">
    <div id="h1">
        <h1><a href="__ROOT__/__INDEX__">International Physics Olympiad</a></h1>
    </div>
    <div id="sub">
        <span class="previous"><a href="__HEADER_PREVIOUS_YEAR_HOMEPAGE__" target="_blank">IPhO __HEADER_PREVIOUS_YEAR__</a></span>
        <span class="img"><a href="__ROOT__/__INDEX__"><img src="__ROOT__/img/logo.png" alt="IPhO" width="30" height="22"/></a></span>
        <span class="next"><a href="__HEADER_NEXT_YEAR_HOMEPAGE__" target="_blank">IPhO __HEADER_NEXT_YEAR__</a></span>
    </div>
</div>
<div id="sidebar">
    <ul>
        <li><a href="__ROOT__/timeline/__INDEX__" class="__HIGHLIGHT_1__">Timeline</a></li>
        <li><a href="__ROOT__/countries/__INDEX__" class="__HIGHLIGHT_2__">Countries</a></li>
        <li><a href="__ROOT__/search/__INDEX__" class="__HIGHLIGHT_3__">Search</a></li>
        <li><a target="_blank" href="http://physprob.com/">Problems</a></li>
        <li><a target="_blank" href="https://en.wikipedia.org/wiki/International_Physics_Olympiad">About IPhO</a></li>
        <li><a target="_blank" href="https://ipho-new.org/">Official IPhO Website</a></li>
    </ul>
</div>
