<div id="header">
  <div id="h1">
    <h1><a href="${root}/${index}">International Physics Olympiad</a></h1>
  </div>
  <div id="sub">
    <span class="previous"><a href="${header_previous_year_homepage}" target="_blank">IPhO ${header_previous_year}</a></span>
    <span class="img"><a href="${root}/${index}"><img src="${root}/img/logo.png" alt="IPhO" width="30" height="22"/></a></span>
    <span class="next"><a href="${header_next_year_homepage}" target="_blank">IPhO ${header_next_year}</a></span>
  </div>
  <div id="menu">
    <a href="${root}/timeline/${index}">Timeline</a> &bull;
    <a href="${root}/countries/${index}">Countries</a> &bull;
    <a href="${root}/search/${index}">Search</a> &bull;
    <a href="${root}/hall-of-fame/${index}">Hall of Fame</a> &bull;
    <a target="_blank" href="http://ipho.olimpicos.net/">Problems</a> &bull;
    <a target="_blank" href="https://en.wikipedia.org/wiki/International_Physics_Olympiad">About IPhO</a> &bull;
    <a target="_blank" href="https://ipho-new.org/">Official IPhO Website</a>
  </div>
</div>
