<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>International Physics Olympiad</title>
</head>
<body>
__HEADER_TOP__
<div id="main">
  <canvas id="canvas" width="400" height="300"></canvas>
  <br />
  <div class="intro">
    The International Physics Olympiad (IPhO) is the most prestigious international physics competition for secondary school students. The main aim of IPhO is to test the highest level of knowledge, critical thinking, problem solving, proper practices of presentation and analysis, and hands-on skills in theoretical and experimental physics. The IPhO is organized annually in different countries as a 9-10 day competition where national teams comprising a maximum of five of their best physics students and two team leaders participate.
  </div>
  <br />
  <div class="intro">
    <a href="http://ipho-unofficial.org/">ipho-unofficial.org</a> is an online resource for the past and upcoming Physics Olympiads.
    It is unofficial and non-profit, and does not hold any rights over its contents. The data is taken from various websites including <a href="http://ipho-new.org/" target="_blank">ipho-new.org</a>, the official website of IPhO.
    The theme and design of the website is based on <a href="http://www.imo-official.org/" target="_blank" style="white-space: nowrap;">imo-official.org</a>.
    <br>
    <br>
    <a href="http://ipho-unofficial.org/">ipho-unofficial.org</a> is an open source project. <a href="https://github.com/abeakkas/ipho-unofficial.org" target="_blank">View on Github</a>.
  </div>
  <br />
</div>
__FOOTER__
<script>
// Homepage animation
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var a = 250;
var ball_r = 8;
var ball_w = 90;
var ball_h = 27;

function rect(x, y, fill, stroke) {
  ctx.save();
  ctx.fillStyle = fill;
  ctx.strokeStyle = stroke;
  ctx.beginPath();
  ctx.rect(x, y, a * 0.6, a * 0.6);
  ctx.fill();
  ctx.stroke();
  ctx.clip();
  ctx.fillStyle = stroke;
  for (var i = 0; i < 3; i++) {
    ctx.beginPath();
    ctx.save();
    ctx.scale(1, ball_h / ball_w);
    ctx.arc(0, 0, ball_w, 0, 2 * Math.PI);
    ctx.stroke();
    ctx.restore();
    var ba = new Date().getTime() * 0.0023 * (1 + i * 0.09);
    var ball_x = ball_w * Math.sin(ba);
    var ball_y = ball_h * Math.cos(ba);
    ctx.beginPath();
    ctx.arc(ball_x, ball_y, ball_r, 0, 2 * Math.PI);
    ctx.fill();
    ctx.rotate(Math.PI / 3);
  }
  ctx.restore();
}

function render() {
  requestAnimationFrame(render);

  ctx.save();
  ctx.translate(canvas.width / 2, canvas.height / 2);

  rect(-a * 0.10, -a * 0.32, "#ff9090", "#ff0000");
  rect(-a * 0.32, -a * 0.10, "#9090ff", "#0000ff");
  rect(-a * 0.50, -a * 0.50, "#ffff90", "#d9d95b");

  ctx.restore();
}

render();
</script>
</body>
</html>
