<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: Timeline</title>
<script>
function showupcoming() {
  upcoming.style.display = '';
  upcomingcue.style.display = 'none';
}
</script>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>Timeline</h2>
	<table>
	<thead>
	<tr>
	<th>#</th>
	<th class="highlightDown">Year</th>
	<th>Country</th>
	<th>City</th>
	<th>Date</th>
	<th>Countries</th>
	<th>Contestants</tr>
	</thead>
	<tbody id="upcomingcue">
  	<tr>
      <td colspan="7">
        <center>
          <a href="javascript:showupcoming();">Upcoming Years</a>
        </center>
      </td>
    </tr>
	</tbody>
	<tbody id="upcoming" style="display:none">
	__UPCOMING__
	</tbody>
	<tbody>
	__TABLE__
	</tbody>
	</table>
</div>
__FOOTER__
</body>
</html>
