<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__BASE__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__BASE__/css/design.css" rel="stylesheet" type="text/css" />
<title>__NUMBER__ International Physics Olympiad</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>
    __PREVIOUS_YEAR__
	<? if($previousyear_info) echo '<a href="year_info.php?year='.$previousyear_info['year'].'" class="pointer">&#9668;</a>'; ?> 
	<a href="year_info.php?year=<? echo $year_info['year']; ?>" class="highlight"><? echo $year_info['number']; ?><sup><? echo ord_of_num($year_info['number']); ?></sup> IPHO <? echo $year_info['year']; ?></a> 
	__NEXT_YEAR__
    <? if($nextyear_info) echo '<a href="year_info.php?year='.$nextyear_info['year'].'" class="pointer">&#9658;</a>'; ?>
	</h2>
	<h3 class="hideprn">
	<a href="year_country.php?year=__YEAR__">Country results</a> &bull;
	<a href="year_individual.php?year=__YEAR__">Individual results</a>
	</h3>
	<dl class="normal">
	<dt>General information</dt>
	<dd>__CITY__, <a href="country_info.php?code=__CODE__">__COUNTRY__</a> 
	(<a href="__HOMEPAGE__" target='_blank'>Home Page IPhO __YEAR__</a>),
	__DATE__ __YEAR__</dd>
	<dd>Number of participating countries: __P_COUNTRY__.</dd>
	<dd>Number of contestants: __P_STUDENT__.</dd>
		<dt>Awards</dt>
		<dd>Gold medals: __GOLD__.<br />
		Silver medals: __SILVER__.<br />
		Bronze medals: __BRONZE__.<br />
		Honourable mentions: __HONOURABLE__.</dd>
	</dl>
</div>
__FOOTER__
</body>
</html>
