<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IdPhO 2020 Results</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <h2>
    International Distributed Physics Olympiad 2020
    </h2>
    <div style="max-width:800px;">
    Due to Covid-19 regulations IPhO 2020 had to be postponed to 2021. On December 7-15 2020, Moscow Institute of Physics and Technology organized a distributed version of the competition where students participated remotely from their home countries. The competition was endorsed by the IPhO Advisory Board. More info can be found on <a href="https://i20.mipt.ru/" target="_blank">IdPhO Official Website</a>.
    </div>
    <br>
    <table>
    <thead><tr><th>Contestant</th><th>Country</th><th>Rank</th><th>Award</th></tr></thead>
    <tbody>
    __TABLE__
    </tbody>
    </table>
    <div>
        Results may be incomplete and may include mistakes.
        Please send relevant information to the webmaster:
        <a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.
        <br>
        If you're a participant you can send a personal page URL to be attached
        to your name.
    </div>
    <br>
</div>
__FOOTER__
</body>
</html>
