<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: Hall of Fame</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>Hall of Fame</h2>
	<table>
	<thead>
	<tr>
        <th rowspan="2">Name</th>
        <th rowspan="2">Country</th>
        <th colspan="4">Awards</th>
        <th rowspan="2">Participations</th>
	</tr>
	<tr>
        <th title="Gold medal">G</th>
        <th title="Silver medal">S</th>
        <th title="Bronze medal">B</th>
        <th title="Honourable mention">HM</th>
	</tr>
	</thead>
	<tbody>
	__TABLE__
	</tbody>
	</table>
    Cutoff chosen arbitrarily at 1 Gold, 1 Silver, 1 Bronze medals.
	<h2>Other Notable Appearences</h2>
    Other participants with 3 or more medals.
	<table>
	<thead>
	<tr>
        <th rowspan="2">Name</th>
        <th rowspan="2">Country</th>
        <th colspan="4">Awards</th>
        <th rowspan="2">Participations</th>
	</tr>
	<tr>
        <th title="Gold medal">G</th>
        <th title="Silver medal">S</th>
        <th title="Bronze medal">B</th>
        <th title="Honourable mention">HM</th>
	</tr>
	</thead>
	<tbody>
	__TABLE2__
	</tbody>
	</table>
    Data is aggregated through a simple name matching algorithm.
    Please send any relevant correction to the webmaster:
    <a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.
</div>
__FOOTER__
</body>
</html>
