<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="{{root}}/img/fav-logo.ico" rel="icon" />
<link href="{{root}}/css/design.css" rel="stylesheet" />
<link href="{{root}}/css/print.css" rel="stylesheet" media="print" />
<title>IPhO: ${country}</title>
</head>
<body>
${header_side}
<div id="main">
  <div class="flag">
    <a href="${index}">
    <img title="${country}" src="{{root}}/img/flags/${code}.gif" alt="${country}" />
    </a>
  </div>
  <h2>
  <a href="../${previous_code}/${index}" class="pointer" style="${previous_code_style}">&#9668;</a>
  <a href="${index}" class="highlight">${country}</a>
  <a href="../${next_code}/${index}" class="pointer" style="${next_code_style}">&#9658;</a>
  </h2>
  <h3 class="hideprn">
  <a href="individual${html_ext}">Individual results</a>
  </h3>
  <dl class="normal">
  <dt style="${contact_style}">Contact</dt>
  <dd style="${contact_style}">National PhO site: <a href="${national_site}" target="_blank">${national_site_text}</a></dd>
  ${host}
  <dt>Performance at the IPhO</dt>
  <dd>Gold medals: ${gold}<br>Silver medals: ${silver}<br>Bronze medals: ${bronze}<br>Honourable mentions: ${honourable}</dd>
  </dl>
</div>
${footer}
</body>
</html>
