<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="App_Themes/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="App_Themes/design.css" rel="stylesheet" type="text/css" />
<link href="App_Themes/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: __COUNTRY__</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<div class="flag">
		<a href="__INDEX__">
		<img title="__COUNTRY__" src="http://imo-official.org/flags/__CODE__.gif" alt="__COUNTRY__" style="border-width:0px;" />
		</a>
	</div>
	<h2>
	__PREVIOUS_COUNTRY__
	<a href="__INDEX__" class="highlight">__COUNTRY__</a>  
	__NEXT_COUNTRY__
	<h3 class="hideprn">
	<a href="individiual__HTML_EXT__">Individual results</a>
	</h3>
	<dl class="normal">
    __CONTACT__
	__HOST__
    __PERFORMANCE__
	</dl>
</div>
__FOOTER__
</body>
</html>