<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: __COUNTRY__ - Individual Results</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <div class="flag hideprn">
        <a href="__INDEX__">
        <img title="__COUNTRY__" src="__ROOT__/img/flags/__CODE__.gif" alt="__COUNTRY__" style="border-width:0px;" />
        </a>
    </div>
    <h2>
    <a href="../__PREVIOUS_CODE__/individual__HTML_EXT__" class="pointer" style="__PREVIOUS_CODE_STYLE__">&#9668;</a>
    <a href="__INDEX__">__COUNTRY__</a>
    <a href="../__NEXT_CODE__/individual__HTML_EXT__" class="pointer" style="__NEXT_CODE_STYLE__">&#9658;</a>
    </h2>
    <h3>
    <a class="highlight" href="individual__HTML_EXT__">Individual results</a>
    </h3>
    <table>
    <thead>
    <tr><th class="highlightDown">Year</th><th>Contestant</th><th>Rank</th><th>Award</th></tr>
    </thead>
    <tbody>
    __TABLE__
    </tbody>
    </table>
    <div>
        Results may be incomplete or incorrect.
        Please send the relevant information to the webmaster:
        <a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.
        <br>
        If you are a participant you can send a personal page URL to be attached
        to your name.
    </div>
    <br>
</div>
__FOOTER__
</body>
</html>
