<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: List of Countries</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>List of countries</h2>
	<table>
	<thead>
	<tr>
        <th rowspan="2">Code</th>
        <th rowspan="2">Country</th>
        <th rowspan="2">National PhO site</th>
        <th rowspan="2">IPhO Host</th>
        <th colspan="4"><a href="#" onclick="sort_awards();return false;">Awards</a></th>
	</tr>
	<tr id="table_head">
        <th title="Gold medal">G</th>
        <th title="Silver medal">S</th>
        <th title="Bronze medal">B</th>
        <th title="Honourable mention">HM</th>
	</tr>
	</thead>
	<tbody id="table_body">
	__TABLE__
	</tbody>
	</table>
</div>
<script>
var sorted = false;
var sort_mode = 0; // GSBH vs total
function sort_awards() {
    var table = document.getElementById("table_body");
    Array.from(table.children)
        .sort(function (r1, r2) {
            var g1 = parseInt(r1.children[4].innerHTML);
            var s1 = parseInt(r1.children[5].innerHTML);
            var b1 = parseInt(r1.children[6].innerHTML);
            var h1 = parseInt(r1.children[7].innerHTML);
            var g2 = parseInt(r2.children[4].innerHTML);
            var s2 = parseInt(r2.children[5].innerHTML);
            var b2 = parseInt(r2.children[6].innerHTML);
            var h2 = parseInt(r2.children[7].innerHTML);
            if (sort_mode == 0) {
                return g2 - g1 || s2 - s1 || b2 - b1 || h2 - h1;
            } else {
                return (g2 + s2 + b2) - (g1 + s1 + b1) || g2 - g1 || s2 - s1 || b2 - b1 || h2 - h1;
            }
        })
        .forEach(function (row) {
            table.appendChild(row);
        });
    sort_mode ^= 1;
    var i = 1;
    var prevrank = i;
    var prev_summary = "";
    Array.from(table.children)
        .forEach(function (row) {
            var summary = row.children[4].innerHTML + ","
                          + row.children[5].innerHTML + ","
                          + row.children[6].innerHTML + ","
                          + row.children[7].innerHTML;
            if (summary != prev_summary) prevrank = i;
            prev_summary = summary;
            var rank = document.createElement("td");
            rank.align = "right";
            rank.innerHTML = prevrank;
            i++;
            if (sorted) row.removeChild(row.lastChild);
            row.appendChild(rank);
        });
    if (!sorted) {
        var head = document.getElementById("table_head");
        var rank = document.createElement("td");
        rank.style.fontWeight = "bold";
        rank.innerHTML = "Rank";
        head.appendChild(rank);
    }
    sorted = true;
}
</script>
__FOOTER__
</body>
</html>
