<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: List of Countries</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>List of countries</h2>
	<table>
	<thead>
	<tr>
	<th>Code</th>
	<th>Country</th>
	<th>National PhO site</th>
	<th>IPhO Host</th>
	</tr>
	</thead>
	<tbody>
	__TABLE__
	</tbody>
	</table>
</div>
__FOOTER__
</body>
</html>