<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>IPhO: List of Countries</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>List of countries</h2>
	<table>
	<thead>
	<tr>
        <th rowspan="2">Code</th>
        <th rowspan="2">Country</th>
        <th rowspan="2">National PhO site</th>
        <th rowspan="2">IPhO Host</th>
        <th colspan="4"><a href="#" onclick="sort_awards();return false;">Awards</a></th>
	</tr>
	<tr>
        <th title="Gold medal">G</th>
        <th title="Silver medal">S</th>
        <th title="Bronze medal">B</th>
        <th title="Honourable mention">HM</th>
	</tr>
	</thead>
	<tbody id="table_body">
	__TABLE__
	</tbody>
	</table>
</div>
<script>
function sort_awards() {
    var table = document.getElementById("table_body");
    Array.from(table.children)
        .sort(function (r1, r2) {
            return parseInt(r2.children[4].innerHTML) - parseInt(r1.children[4].innerHTML) ||
                   parseInt(r2.children[5].innerHTML) - parseInt(r1.children[5].innerHTML) ||
                   parseInt(r2.children[6].innerHTML) - parseInt(r1.children[6].innerHTML) ||
                   parseInt(r2.children[7].innerHTML) - parseInt(r1.children[7].innerHTML);
        })
        .forEach(function (row) {
            table.appendChild(row);
        });
}
</script>
__FOOTER__
</body>
</html>
